@import url("https://code.jquery.com/jquery-3.6.0.min.js");
@import url("https://cdn.jsdelivr.net/velocity/1.5.2/velocity.min.js");

body {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

#board {
    background-color: skyblue;
}
